.video__iframes {
  margin: 50px auto 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

.video__iframes > li:first-child {
  margin-right: 20px;
}
/* Не много не понял, а почему? У меня же отображалось корректно в браузерах предыдущая версия. */
