.feynman {
  position: relative;
  min-height: 890px;  /* исправил с height */
  background-color: #f2f2f2;
  z-index: 0; /* При отрицательном z-index секция уходит под элемент <main> и  на ссылку не нажать. Не стоит указывать блоку отрицательное значение z-index. Для блока можно явно указать значение 0, и уже от этого отталкиваться для выставления z-index для внутренних элементов. */
  padding-top: 100px;
  box-sizing: border-box;
}
