.techniques {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  /* Вопросы:
  В секции techniques - Спросить про ширину. Не понятно что 80%, а что 920пх??

  В cards__item я ширину высчитал и вбил в ручную.   max-width: 240px;
  Как можно это сделать не делая этого, или так и надо было?

  Вы делали карточки через grid или хардкодили марджины и псевдоклассы чтоб карточки так стояли? потому что если размазать их по краям нижние прибьються к левому и правому краю
  */
}


.cards {
 list-style: none;
 padding: 0px;
 max-width: 920px;
 margin: 0 auto;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.cards__item {
  margin-top: 60px;
  max-width: 240px;
  text-align: center;
}

.cards__image {
  max-width: 160px;
  max-height: 160px;
  margin: 0px 40px 43px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin: 0;
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal; /*  */
}
