.cards__item {
  /* margin-top: 60px; */
  margin: 60px 100px 0 0;
  max-width: 240px;
  text-align: center;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

/* .cards__item:last-child {
  margin-right: 340px;
} */


