@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s linear infinite;
}

/*
.rotation:hover {
  animation-play-state: paused;
}

Хотел сделать чтобы приостанавливал поворот при наведении, но так как куб под картинкой, только часть работает.
Можно как-то сделать так что бы на всей зоне работал? Или надо тогда выделять при наведении и на картинку? Прото если з-индекс поменять, то куб перекроет картинку.
*/
